body{
	margin:0;
	padding: 0;
	font-family: "montserrat",sans-serif;
}
.services{
	background: #ffffff;
	text-align: center;
}
.services h1{
	display: inline-block;
	text-transform: uppercase;
	border-bottom: 4px solid #87CEFA;
	font-size: 50px;
	padding-bottom: 10px;
	margin-top: 40px;
}
.cen{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 20px;
}
.service{
	display: inline-block;
	width: calc(100% / 3);
	margin:0 -2px;
	padding: 50px;
	box-sizing: border-box;
	cursor: pointer;
	transition: 0.4s;
}
.service.hover{
	background: #add;
}
.service i{
	color: #87CEFA;
	font-size: 50px;
	margin-bottom: 30px;
}
.service h2{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 500;
	margin: 0;
}
